<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Data Input dan Output PLC</h1>
      <h2>INPUT</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Gambar</th>
            <th scope="col">Lambang</th>
            <th scope="col">Nama</th>
            <th scope="col">Penjelasan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img
                src="img/Saklar no 1.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>I1, I2, dst.</td>
            <td>Input NO (Normally Open)</td>
            <td>
              Input berupa saklar yang apabila dinyalakan maka akan menutup
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <img
                src="img/input NC.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>i1, i2, dst.</td>
            <td>Input NC (Normally Close)</td>
            <td>
              Input berupa saklar yang apabila dinyalakan maka akan membuka
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              <img
                src="img/Relay I NO.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>M1, M2, dst.</td>
            <td>Relay Input NO (Normally Open)</td>
            <td>Relay</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>
              <img
                src="img/Relay I NC.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>i1, i2, dst.</td>
            <td>Relay Input NC (Normally Close)</td>
            <td>Relay</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>
              <img
                src="img/Timer I NO.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>T1, T2, dst.</td>
            <td>Timer Input NO (Normally Open)</td>
            <td>Timer</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>
              <img
                src="img/Timer I NC.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>t1, t2, dst.</td>
            <td>Timer Input NC (Normally Close)</td>
            <td>Timer</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>
              <img
                src="img/Counter I NO.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>C1, C2, dst.</td>
            <td>Counter Input NO (Normally Open)</td>
            <td>Counter</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>
              <img
                src="img/Counter I NC.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>c1, c2, dst.</td>
            <td>Counter Input NC (Normally Close)</td>
            <td>Counter</td>
          </tr>
        </tbody>
      </table>

      <h2>OUTPUT</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Gambar</th>
            <th scope="col">Lambang</th>
            <th scope="col">Nama</th>
            <th scope="col">Penjelasan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img
                src="img/Saklar no 1.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>I1, I2, dst.</td>
            <td>Input NO (Normally Open)</td>
            <td>
              Input berupa saklar yang apabila diberi tegangan maka akan menutup
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <img
                src="img/Output 1.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>Q1, Q2, dst.</td>
            <td>Output</td>
            <td>
              Output yang bisa dijadikan apa saja (lampu, motor listrik, dll.)
              namun dalam aplikasi zelio ditampilkan sebagai lampu
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
