<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Data Input dan Output PLC Zelio</h1>
      <h2>INPUT</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Gambar</th>
            <th scope="col">Lambang</th>
            <th scope="col">Nama</th>
            <th scope="col">Penjelasan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img
                src="img/Saklar no 1.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>I1, I2, dst.</td>
            <td>Input NO (Normally Open)</td>
            <td>
              Input berupa saklar yang apabila ditekan/dinyalakan maka saklar
              akan menutup.
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <img
                src="img/input NC.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>i1, i2, dst.</td>
            <td>Input NC (Normally Close)</td>
            <td>
              Input berupa saklar yang apabila ditekan/dinyalakan maka saklar
              akan membuka.
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              <img
                src="img/Relay I NO.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>M1, M2, dst.</td>
            <td>Relay Input NO (Normally Open)</td>
            <td>
              Saklar yang dimana saat tegangan masuk maka saklar akan menutup.
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>
              <img
                src="img/Relay I NC.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>i1, i2, dst.</td>
            <td>Relay Input NC (Normally Close)</td>
            <td>
              Saklar yang dimana saat tegangan masuk maka saklar akan membuka.
            </td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>
              <img
                src="img/Timer I NO.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>T1, T2, dst.</td>
            <td>Timer Input NO (Normally Open)</td>
            <td>
              Memiliki prinsip kerja dengan relay NO, hanya saja dengan delay
              waktu yang bisa diatur.
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>
              <img
                src="img/Timer I NC.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>t1, t2, dst.</td>
            <td>Timer Input NC (Normally Close)</td>
            <td>
              Memiliki prinsip kerja dengan relay NC, hanya saja dengan delay
              waktu yang bisa diatur.
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>
              <img
                src="img/Counter I NO.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>C1, C2, dst.</td>
            <td>Counter Input NO (Normally Open)</td>
            <td>
              Saat perhitungan sesuai target, maka akan menutup secara otomatis.
            </td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>
              <img
                src="img/Counter I NC.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>c1, c2, dst.</td>
            <td>Counter Input NC (Normally Close)</td>
            <td>
              Saat perhitungan sesuai target, maka akan membuka secara otomatis.
            </td>
          </tr>
        </tbody>
      </table>

      <h2>OUTPUT</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Gambar</th>
            <th scope="col">Lambang</th>
            <th scope="col">Nama</th>
            <th scope="col">Penjelasan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img
                src="img/Output 1.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>Q1, Q2, dst.</td>
            <td>Output</td>
            <td>
              Output yang bisa dijadikan apa saja (lampu, motor listrik, dll.)
              namun dalam aplikasi zelio ditampilkan sebagai lampu
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <img
                src="img/Relay O.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>M1, M2, dst.</td>
            <td>Relay Output</td>
            <td>Relay</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
              <img
                src="img/Timer O.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>TT1, TT2, dst.</td>
            <td>Timer Start</td>
            <td>Timer</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>
              <img
                src="img/Timer O R.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>RT1, RT2, dst.</td>
            <td>Timer Reset</td>
            <td>Timer Reset</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>
              <img
                src="img/Counter O Up.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>CC1, CC2, dst.</td>
            <td>Counter Up</td>
            <td>Counter Up</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>
              <img
                src="img/Counter O Down.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>DC1, DC2, dst.</td>
            <td>Counter Down</td>
            <td>Counter Down</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>
              <img
                src="img/Counter O R.png"
                class="img-thumbnail"
                width="150"
                height="100"
              />
            </td>
            <td>RC1, RC2, dst.</td>
            <td>Counter Reset</td>
            <td>Counter Reset</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
