<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Data Input dan Output PLC</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Gambar</th>
            <th scope="col">Lambang</th>
            <th scope="col">Nama</th>
            <th scope="col">Penjelasan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
              <img src="../public/img/Saklar no 1.png" />
            </td>
            <td>S1</td>
            <td>Saklar NO (Normally Open)</td>
            <td>Input Saklar yang apabila diberi tegangan maka akan menutup</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
              <img src="../public/img/Saklar no 1.png" />
            </td>
            <td>Q1</td>
            <td>Output</td>
            <td>
              Output yang bisa dijadikan apa saja (lampu, motor listrik, dll.)
              namun dalam aplikasi zelio ditampilkan sebagai lampu
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
