<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      li {
        margin-bottom: -10px;
      }
      .sumber {
        text-align: right;
      }

      .penerapan h2 {
        text-align: center;
        margin-top: 50px;
      }
    </style>
  </head>

  <body>
    <!-- <h4 class="text-center">Halo <%= nama %></h4> -->
    <h1 class="col text-center">PLC</h1>
    <h2 class="col text-center">Penjelasan singkat tentang PLC</h2>
    <br />

    <div class="row">
      <div class="col-md-4">
        <img src="img/PLC.jpg" class="img-thumbnail" width="300" height="250" />
      </div>
      <div class="col">
        <p>
          Programmable Logic Controllers (PLC) dirancang untuk menggantikan
          suatu rangkaian relay sequensial dalam suatu sistem kontrol. Selain
          dapat diprogram, alat ini juga dapat dikendalikan, dan dioperasikan
          oleh pengguna yang tidak memiliki pengetahuan di bidang pengoperasian
          komputer secara khusus.
        </p>
        <p>Sebuah PLC dapat melakukan fitur - fitur berikut ini:</p>
      </div>
    </div>

    <div class="main2">
      <ol class="list-group" style="margin-bottom: 10px; margin-top: -10px">
        <li class="list-group-item border-0">
          1. Programmable, menunjukkan kemampuan dalam hal memori untuk
          menyimpan program yang telah dibuat yang dengan mudah diubah-ubah
          fungsi atau kegunaannya.
        </li>
        <li class="list-group-item border-0">
          2. Logic, menunjukkan kemampuan dalam memproses input secara aritmatik
          dan logic (ALU), yakni melakukan operasi membandingkan, menjumlahkan,
          mengalikan, membagi, mengurangi, negasi, AND, OR, dan lain sebagainya.
        </li>
        <li class="list-group-item border-0">
          3. Controller, menunjukkan kemampuan dalam mengontrol dan mengatur
          proses sehingga menghasilkan output yang diinginkan.
        </li>
      </ol>
      <p>
        Cara kerja sebuah PLC adalah menerima sinyal masukan proses yang
        dikendalikan lalu melakukan serangkaian instruksi logika terhadap sinyal
        masukan tersebut sesuai dengan program yang tersimpan dalam memori lalu
        menghasilkan sinyal keluaran untuk mengendalikan aktuator atau peralatan
        lainnya.
      </p>
    </div>

    <div class="sumber">
      <p>
        Sumber:
        <a href="https://www.se.com/id/id/faqs/FA378339/">Schneider Electric</a>
      </p>
    </div>

    <section class="vPengertian" id="vPengertian">
      <h5 class="col text-center">Video pengertian singkat tentang PLC</h5>
      <div class="container">
        <div class="row">
          <div class="ratio ratio-16x9 mx-auto d-block">
            <iframe
              src="https://www.youtube.com/embed/b_upoW4zDiQ?rel=0"
              title="YouTube video"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p>
              Sumber:
              <a
                href="https://www.youtube.com/watch?v=b_upoW4zDiQ&ab_channel=EdukazeChannel"
                >Pengenalan PLC (Programmable Logic Controller) | Dasar
                Pemrograman PLC by Edukaze Channel</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
    <br />
    <section class="penerapanPLC" id="penerapanPLC">
      <h2 class="col text-center">Penerapan PLC di Industri</h2>
      <div class="container">
        <div class="row">
          <p>Berikut adalah contoh penerapan PLC di dunia industri:</p>
        </div>
        <div class="row">
          <p>1. Penerapan di sistem parkir otomatis</p>
        </div>
        <div class="row">
          <div class="ratio ratio-16x9 mx-auto d-block">
            <iframe
              src="https://www.youtube.com/embed/8bapKEAdodU?rel=0"
              title="YouTube video"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p>
              Sumber:
              <a
                href="https://www.youtube.com/watch?v=8bapKEAdodU&ab_channel=OtomasiIndustri"
                >Otomasi Industri - Automation with PLC in Parking by Otomasi
                Industri</a
              >
            </p>
          </div>
        </div>

        <div class="row">
          <p>2. Penerapan di sistem otomasi pada produksi otomotif</p>
        </div>
        <div class="row">
          <div class="ratio ratio-16x9 mx-auto d-block">
            <iframe
              src="https://www.youtube.com/embed/txK0GJNfkKA?rel=0"
              title="YouTube video"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p>
              Sumber:
              <a
                href="https://www.youtube.com/watch?v=txK0GJNfkKA&ab_channel=AutonicsCorporation"
                >Autonics : Proses Produksi Otomasi untuk Otomotif by Autonics
                Corporation channel</a
              >
            </p>
          </div>
        </div>

        <div class="row">
          <p>3. Penerapan sistem otomasi pada produksi bola</p>
        </div>
        <div class="row">
          <div class="ratio ratio-16x9 mx-auto d-block">
            <iframe
              src="https://www.youtube.com/embed/KAcvmynb83Y?rel=0"
              title="YouTube video"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p>
              Sumber:
              <a
                href="https://www.youtube.com/watch?v=KAcvmynb83Y&ab_channel=NEOTECHNOLOGY"
                >Pabrik Dengan Mesin Canggih Memproduksi Bola | Amazing Factory
                Production Process. by NEO TECHNOLOGY channel</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
