<section class="judul">
  <div class="row">
    <div class="col text-center" style="margin-top: 10px">
      <h1>Panduan Instalasi Aplikasi Zelio Soft ke Komputer</h1>
    </div>
  </div>
  <br />
</section>

<section class="panduanBuka">
  <div class="row">
    <p>
      Berikut adalah panduan menginstall aplikasi zelio soft bagi yang mempunyai
      komputer atau memiliki akses ke komputer.
    </p>
  </div>
</section>

<section class="panduan1">
  <div class="row">
    <p>
      1. Bukalah situs
      <a href="https://www.se.com/id/en/product-range/542-zelio-soft/#overview"
        >Zelio</a
      >
      ini untuk masuk ke halaman instalasi, lalu pilih
      <span class="font-weight-bold">Download instalation file</span>
    </p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>

<section class="panduan2">
  <div class="row">
    <p>
      2. Masuk ke lokasi file download anda lalu klik 2 kali file yang baru saja
      anda download.
    </p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>

<section class="panduan3">
  <div class="row">
    <p>
      3. Setelah muncul jendela instalasinya, silahkan klik
      <span class="font-weight-bold">Next</span> terus sampai muncul proses
      instalasinya.
    </p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>

<section class="panduan4">
  <div class="row">
    <p>4. Setelah selesai proses instalasinya, silahkan buka aplikasinya.</p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>

<section class="panduan5">
  <div class="row">
    <p>
      5. Setelah aplikasinya berhasil terbuka, pilih
      <span class="font-weight-bold">Create new program</span>
    </p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>

<section class="panduan6">
  <div class="row">
    <p>
      6. Setelah itu silahkan pilih jenis dan nomor seri PLC zelio yang akan
      digunakan, disesuaikan dengan PLC yang ada di kelas. Apabila tidak
      mempunyai PLC Zelio di kelas, silahkan pilih PLC yang saya
      <span class="font-weight-bold">lingkari</span>. Lalu tekan
      <span class="font-weight-bold">Next</span>.
    </p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>

<section class="panduan7">
  <div class="row">
    <p>
      7. Setelah itu silahkan pilih lagi nomor serinya sesuai dengan yang ada di
      kelas. Jika tidak ada PLC Zelio di kelas, silahkan langsung tekan
      <span class="font-weight-bold">Next</span> saja.
    </p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>

<section class="panduan8">
  <div class="row">
    <p>
      8. Setelah itu silahkan pilih jenis pemrograman PLCnya. Untuk PLC Zelio
      ini tersedia 2 jenis pemrograman, yaitu dengan
      <span class="font-weight-bold">Ladder Diagram</span> atau dengan
      <span class="font-weight-bold">FBD</span>. Agar sesuai dengan tutorial di
      website ini, silahkan pilih yang
      <span class="font-weight-bold">Ladder</span> lalu tekan
      <span class="font-weight-bold">Next</span>.
    </p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>

<section class="panduan9">
  <div class="row">
    <p>9. Zelio Soft sudah siap untuk digunakan.</p>
  </div>
  <div class="row">
    <img
      src="img/PLC.jpg"
      class="rounded mx-auto d-block"
      width="300"
      height="250"
    />
  </div>
  <br />
</section>
