<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Definisi Singkat Setiap Komponen PLC</h1>
    </div>
  </div>
  <br />

  <div class="row">
    <p>
      Berikut adalah definisi singkat dari setiap komponen-komponen yang ada
      pada PLC.
    </p>
  </div>
  <div class="row">
    <h4>1. Input</h4>
  </div>
  <div class="row">
    <p>
      Input/perangkat masukan adalah sebuah perangkat keras yang digunakan
      sebagai pemberi signal atau pemicu kepada sistem kendali. Perangkat ini
      bekerja dengan menyambungkan atau memutuskan aliran arus dalam sirkuit
      elektrik, dan mengirimkan sinyal ke perangkat kontrol. Perangkat masukan
      dibagi menjadi 2 bagian utama yaitu Masukan Digital dan Masukan Analog.
      Masukan Digital hanya memiliki 2 kondisi yaitu On/Off, Sedangkan Masukan
      Analog memiliki nilai yang lebih rinci seperti seberapa besar tegangan
      yang diberikan, dll. Untuk Masukan Digital yang paling umum digunakan
      adalah berupa <span class="fst-italic">Operation Switch</span> dan
      <span class="fst-italic">Detection Switch</span>.
    </p>
  </div>
  <div class="row">
    <h5>a. Operation Switch</h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img
        src="img/OSwitch.png"
        class="img-thumbnail"
        width="300"
        height="250"
      />
      <p class="fs-6">Sumber: circuits-diy.com</p>
    </div>
    <div class="col" style="margin-left: -30px">
      <p>
        Operation Switch adalah sakelar yang dioperasikan oleh manusia seperti
        operator di pabrik. Sakelar ini paling umum ditemui pada perangkat semi
        otomatis hingga perangkat otomatis dalam sistem otomasi industri. Switch
        ini memiliki kontak NO (Normally Open) atau kontak NC (Normally Closed)
        atau bahkan keduanya.
      </p>
      <p>Berikut adalah contoh dari operation switch:</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1. Push Button
      <img
        src="img/pButton.png"
        class="img-thumbnail"
        width="150"
        height="100"
      />
    </div>
    <div class="col">
      2. Selector Switch
      <img
        src="img/sSwitch.jpg"
        class="img-thumbnail"
        width="150"
        height="100"
      />
    </div>
    <div class="col">
      3. Limit Switch
      <img
        src="img/lSwitch.jfif"
        class="img-thumbnail"
        width="150"
        height="100"
      />
    </div>
  </div>
  <br />
  <div class="row">
    <h5>b. Detection Switch</h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img
        src="img/DSwitch.jpg"
        class="img-thumbnail"
        width="300"
        height="250"
      />
      <p class="fs-6">Sumber: pinterest.com</p>
    </div>
    <div class="col" style="margin-left: -30px">
      <p>
        Detection Switch adalah sakelar yang dioperasikan dengan kontak langsung
        atau tidak baik oleh manusia, benda kerja maupun material lain pendukung
        proses kerja pada industry. Produk yang bergerak pada konveyor, magnet
        yang dipasang pada titik – titik tertentu, anggota tubuh manusia, lengan
        robot dan benda – benda lain adalah contoh objek yang digunakan untuk
        mengaktifkan detection switch.
      </p>
      <p>Berikut adalah contoh dari detection switch:</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1. Sensor Suhu
      <img src="img/suhu.jpg" class="img-thumbnail" width="150" height="100" />
    </div>
    <div class="col">
      2. Sensor Cahaya
      <img
        src="img/cahaya.png"
        class="img-thumbnail"
        width="150"
        height="100"
      />
    </div>
    <div class="col">
      3. Sensor Proximity/jarak
      <img
        src="img/proximity.jpg"
        class="img-thumbnail"
        width="150"
        height="100"
      />
    </div>
  </div>
</div>
<br />
<br />

<div class="row">
  <h4>2. Output</h4>
</div>
<div class="row">
  <p>
    Output/Perangkat keluaran adalah sebuah perangkat keras yang digunakan untuk
    merubah signal keluaran menjadi sebuah kondisi sesuai dengan keinginan
    pengguna. Berikut ini pengelompokan jenis keluaran berdasarkan kegunaannya.
  </p>
</div>
<div class="row">
  <ol class="list-group list-group-numbered" style="margin-top: -15px">
    <li class="list-group-item border-white">
      1. Berfungsi untuk memberitahukan operator atau menunjukkan status
      pengoperasian mesin. Contohnya Lampu Indikator, tower Lamp, Digital Panel
      Indicator dan HMI.
    </li>
    <li class="list-group-item border-white">
      2. Berfungsi untuk mengubah volume panas sistem target. Contohnya Heater
      dan Inverter
    </li>
    <li class="list-group-item border-white">
      3. Berfungsi untuk menggerakkan, memutar, atau mengatur produk target pada
      kecepatan yang lebih tinggi dan lebih akurat. Contohnya Motor, Pneumatik,
      dan Solenoid. Perangkat keluaran yang dapat mengasilkan sebuah gerakan
      secara umum disebut dengan aktuator.
    </li>
  </ol>
</div>
<div class="row">
  <img src="img/Perangkat-output.jpg" class="rounded mx-auto d-block" />
</div>
<div class="col text-center">
  <p>sumber: Musbikhin.com</p>
</div>
<br />
<br />

<div class="row">
  <h4>2. Relay</h4>
</div>
<div class="row">
  <p>
    Relay adalah Saklar (Switch) yang dioperasikan dengan tenaga listrik dan
    merupakan komponen Elektromekanikal (kombinasi elektrik dan mekanik) yang
    terdiri dari 2 bagian utama yakni Elektromagnet (Coil/lilitan magnet) dan
    Mekanikal (seperangkat Kontak Saklar/Switch). Sebuah relay minimal memiliki
    1 pasang Kontak NO dan Kontak NC. Prinsip kerja relay adalah menggunakan
    Prinsip Elektromagnetik untuk menggerakkan Kontak Saklar tersebut. Sehingga,
    posisi Kontak NO dan Kontak NC dapat diubah tanpa langsung disentuh oleh
    manusia.
  </p>
</div>
<div class="row">
  <img
    src="img/Bentuk-Relay.jpg"
    class="rounded mx-auto d-block"
    width="300"
    height="300"
    style="margin-top: -15px"
  />
</div>
<div class="col text-center" style="margin-top: -10px">
  <p>sumber: sinaupedia.com</p>
</div>
<div class="row">
  <p>
    Fungsi relay yang secara umum digunakan pada Otomasi Industri adalah sebagai
    berikut :
  </p>
  <ol class="list-group list-group-numbered" style="margin-top: -15px">
    <li class="list-group-item border-white">
      1. Relay digunakan untuk menjalankan Fungsi Logika (Logic Function)
    </li>
    <li class="list-group-item border-white">
      2. Relay digunakan untuk mengendalikan Sirkuit Tegangan tinggi dengan
      bantuan dari Signal Tegangan rendah.
    </li>
    <li class="list-group-item border-white">
      3. Ada juga Relay yang berfungsi untuk melindungi Motor ataupun komponen
      lainnya dari kelebihan Tegangan ataupun hubung singkat (Short).
    </li>
    <li class="list-group-item border-white">
      4. Relay digunakan untuk memberikan Fungsi penundaan waktu (Time Delay
      Function)
    </li>
  </ol>
</div>
<div class="row">
  <p>
    Berdasarkan jumlah Kontak dan Jumlah Kondisi yang memungkinkan, relay
    dikelompokkan sebagai berikut :
  </p>
  <ol class="list-group list-group-numbered" style="margin-top: -15px">
    <li class="list-group-item border-white">
      1. Single Pole Single Throw (SPST): Relay ini sedikitnya memiliki 4
      Terminal, 2 Terminal sebagai sumber tegangan untuk Coil dan 2 terminal
      lain adalah untuk penyaklaran. Relay ini hanya memiliki NO atau NC saja.
    </li>
    <li class="list-group-item border-white">
      2. Single Pole Double Throw (SPDT) : Relay ini memiliki 5 Terminal, 2
      Terminal sebagai sumber tegangan untuk Coil dan 3 terminal lain adalah
      untuk penyaklaran.
    </li>
    <li class="list-group-item border-white">
      3. Double Pole Single Throw (DPST): Relay ini memiliki 6 Terminal,
      diantaranya 2 terminal sebagai sumber tegangan untuk Coil dan 4 terminal
      lain adalah untuk penyaklaran. Relay DPST dapat dijadikan 2 Saklar yang
      dikendalikan oleh 1 Coil.
    </li>
    <li class="list-group-item border-white">
      4. Double Pole Double Throw (DPDT): Relay ini memiliki Terminal sebanyak 8
      Terminal, diantaranya 2 Terminal sebagai sumber tegangan untuk Coil dan 6
      Terminal lainnya yang merupakan 2 pasang Relay SPDT yang dikendalikan oleh
      1 (single) Coil.
    </li>
  </ol>
</div>
<div class="row">
  <img
    src="img/simbol-relay.jpg"
    class="rounded mx-auto d-block"
    width="300"
    height="300"
  />
</div>
<div class="col text-center" style="margin-top: -5px">
  <p>sumber: pintarelektro.com</p>
</div>
<br />
<br />

<div class="row">
  <h4>4. Timer</h4>
</div>
<div class="row">
  <p>
    Secara keseluruhan, prinsip kerja Timer sangat mirip dengan relay, yang
    membedakan hanyalah adanya waktu tunda antara waktu Timer diaktifkan dengan
    Coil Timer aktif. Di bawah ini adalah ilustrasi dari kontruksi sebuah Timer.
  </p>
  <p>
    Timer terdiri dari tiga bagian, yaitu Unit Penghitung Waktu (Timer Counter),
    Unit Koil, dan Unit Kontak. Timer Counter berfungsi untuk menunda
    pengaktifan Coil sesuai dengan pengaturan wantu yang diberikan. Timer
    memiliki 2 kelompok terminal utama sebagai sumber tegangan dan beberapa
    terminal lain sebagai Kontak. Berikut ini adalah contoh timer yang berasa di
    pasaran dan diagram terminalnya.
  </p>
</div>
<div class="row">
  <img
    src="img/gambar-timer.jpg"
    class="rounded mx-auto d-block"
    width="300"
    height="300"
    style="margin-top: -15px"
  />
</div>
<div class="col text-center" style="margin-top: -30px">
  <p>sumber: deltakit.net</p>
</div>
<br />
<br />

<div class="row">
  <h4>5. Counter</h4>
</div>
<div class="row">
  <p>
    Counter adalah rangkaian elektronika yang befungsi untuk melakukan
    penghitungan angka secara berurutan baik itu perhitungan maju ataupun
    perhitungan mundur. Yang dimaksud dengan perhitungan maju adalah di mana
    rangkaian akan menghitung mulai dari angka yang kecil menuju angka yang
    lebih besar dan sebaliknya untuk perhitungan mundur. Perintah perhitungan
    pada suatu Counter dikendalikan oleh masukan signal yang masuk pada terminal
    input signalnya.
  </p>
</div>
<div class="row">
  <img
    src="img/gambar-counter.png"
    class="rounded mx-auto d-block"
    width="400"
    height="300"
    style="margin-top: -15px"
  />
</div>
<div class="col text-center" style="margin-top: -30px">
  <p>sumber: mouser.co.id</p>
</div>
<div class="row">
  <p>
    Counter secara umum digunakan sebagai alat penghitung dalam sebuah proses,
    seperti halnya menghitung jumlah benda yang melewati sebuah jalur produksi
    pada gambar di bawah.
  </p>
</div>
<div class="row">
  <img
    src="img/Counter-aplikasi.png"
    class="rounded mx-auto d-block"
    width="300"
    height="300"
    style="margin-top: -5px"
  />
</div>
<div class="col text-center" style="margin-top: -5px">
  <p>sumber: Omron</p>
</div>
<div class="row">
  Sistem tersebut menggunakan counter untuk menghitung jumlah botol yang
  melintas pada konveyor. Counter akan memiliki nilai target tertentu untuk
  dicapai,saat nilai tersebut tercapai counter akan memutuskan bagaimana dan
  kapan menyesuaikan outputnya berdasarkan beberapa opsi yang dipilih oleh
  pengguna.
</div>
<br />
<br />
