<section class="judul">
  <div class="row">
    <div class="col text-center" style="margin-top: 10px">
      <h1>Contoh Kasus Sederhana</h1>
    </div>
  </div>
  <br />
</section>

<section class="soal1">
  <div class="row">
    <h4>Kasus Pertama</h4>
  </div>
  <div class="container">
    <p>
      Sebuah alat mempunyai dua saklar dan dua lampu. Saat saklar 1 ditekan,
      maka lampu 1 akan menyala. Saat saklar 2 ditekan, maka lampu 1 akan mati
      dan lampu 2 akan menyala. Buatkan programnya menggunakan PLC!
    </p>
    <p>Jawaban :</p>
    <div class="row">
      <div class="ratio ratio-16x9 mx-auto d-block">
        <iframe
          src="https://www.youtube.com/embed/b_upoW4zDiQ?rel=0"
          title="YouTube video"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <br />
  <br />
</section>

<section class="soal2">
  <div class="row">
    <h4>Kasus Kedua</h4>
  </div>
  <div class="container">
    <p>
      Sebuah alat mempunyai 1 saklar dan 1 lampu. Saat saklar 1 ditekan maka
      akan menyalakan lampu 1 dengan jeda waktu 5 detik setelah saklar ditekan.
      Buatkan programnya menggunakan PLC!
    </p>
    <p>Jawaban :</p>
    <div class="row">
      <div class="ratio ratio-16x9 mx-auto d-block">
        <iframe
          src="https://www.youtube.com/embed/b_upoW4zDiQ?rel=0"
          title="YouTube video"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <br />
  <br />
</section>

<section class="soal3">
  <div class="row">
    <h4>Kasus Ketiga</h4>
  </div>
  <div class="container">
    <p>
      Sebuah alat mempunyai 1 saklar dan 1 lampu. Saat saklar 1 ditekan sebanyak
      5 kali maka akan menyalakan lampu 1. Buatkan programnya menggunakan PLC!
    </p>
    <p>Jawaban :</p>
    <div class="row">
      <div class="ratio ratio-16x9 mx-auto d-block">
        <iframe
          src="https://www.youtube.com/embed/b_upoW4zDiQ?rel=0"
          title="YouTube video"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <br />
  <br />
</section>
